.button {
    width: 149px;
height: 30px;
top: 261px;
left: 574px;
padding: 5px 24px 5px 24px;
border-radius: 3px;
gap: 10px;

}

.disabled {
    color: darkcyan;
}

.secondary {
}

.default {
}

.red {
    color:firebrick;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
